[Desktop Entry]
Encoding=UTF-8
Name=Link to blue_blend.png
Type=Link
URL=file:///home/deryck/Downloads/blue_blend.png
Icon=image-png
Name[en_US]=blue_blend.png
